body{
    background:url(https://ffk-kosova.com/fan-club)
}

h2{
    color: violet;
}

h1{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
div{
    width: 300px;
    border: 4px solid green;
    padding: 50px;
    margin:20px;
    background-color: aqua;
}
