h1{
    color:green;
    letter-spacing: 50px;
}
h2{
text-decoration: overline;
}
h3{
text-decoration: line-through;
}
h4{
text-decoration: underline;
}
p{
text-indent: 50px;
text-align: center;
}
img{
clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%)
}
#normaltext{
        font-style:normal;
        font-size: 50px;
        
}
a{
    color:red;
}
a:hover{
    color:green;
}
a:active{
    color:blueviolet;
}